.onBoard {
  padding: 2%;
  min-height: 580px;
}

.btn-onboard-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload {
  display: block;
  position: relative;
  padding: 7px 0;
  border: 2px solid #9b9b9b;
  color: #fff;
  background-color: #4c4d62;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.custom-file-upload:hover {
  border-color: #27b3df;
}

#file-name {
  margin-left: 10px;
}

.btn-onboard {
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  min-width: 120px;
  min-height: 50px; /* Set a minimum height */
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: relative; /* Add this line */
}

.btn-onboard:hover {
  background-color: #27b3df;
  box-shadow: 0px 15px 20px rgba(51, 125, 235, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-onboard:active {
  transform: translateY(-1px);
}

.lds-dual-ring-onboard {
  position: absolute; /* Add this line */
  top: 50%; /* Add this line */
  left: 50%; /* Add this line */
  transform: translate(-50%, -50%); /* Add this line */
  display: flex;
  justify-content: center;
  width: 50px;
  height: 28px;
  margin-bottom: 5px;
}

.lds-dual-ring-onboard:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid #27b3df; /* Default color */
  border-color: #27b3df transparent #27b3df transparent; /* Default color */
  animation: lds-dual-ring-onboard 1.2s linear infinite;
}

/* Change the loader color when the button is hovered */
.btn-onboard:hover .lds-dual-ring-onboard:after {
  border-color: #fff transparent #fff transparent; /* Hover color */
}

@keyframes lds-dual-ring-onboard {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bot-count-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #4c4d62;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.highlighted-text {
  color: rgb(39, 179, 223);
  font-weight: bold;
}

.form__group_onboard {
  position: relative;
  padding: 10px 0 0;
  width: 100%;
  margin-top: 60px;
  padding: 20px 0 0;
}

.form__field_onboard {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field_onboard::placeholder {
  color: transparent;
}

.form__field_onboard:placeholder-shown ~ .form__label_onboard {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label_onboard {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field_onboard:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field_onboard:focus ~ .form__label_onboard {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field_onboard:required,
.form__field_onboard:invalid {
  box-shadow: none;
}

.form__field_onboard_other::placeholder {
  color: rgba(
    255,
    255,
    255,
    0.5
  ); /* This will make the placeholder text a bit transparent */
}

.tooltip {
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  z-index: 1;
  width: 400px;
  max-height: 300px;
  overflow-y: auto;
  bottom: 100%; /* Position the tooltip above the input */
  left: 50%;
  transform: translateX(-50%) translateY(-10px); /* Center the tooltip and add a small gap */
  opacity: 0.9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tooltip ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

.tooltip li {
  margin-bottom: 5px;
}

.channel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.channel-item {
  flex: 1 1 calc(50% - 10px); /* 1-row 2-column layout */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.7); /* slightly transparent */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
}

.channel-checkbox {
  margin-right: 5px; /* space between checkbox and label */
}

.channel-label {
  vertical-align: middle; /* aligns the label with the checkbox */
}

.tooltipchannel {
  display: inline-block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  left: 100%;
  top: 0;
  margin-left: 5px;
}

/* This will apply the margin-bottom only for screens 768px and below */
@media (max-width: 768px) {
  .mb-sm-4 {
    margin-bottom: 1.5rem; /* Adjust this value as needed */
  }
  .form__group_onboard {
    padding: 20px 0 0;
  }
}

@media (max-width: 500px) {
  .tooltip {
    width: 250px; /* Adjust this value as needed */
    font-size: 12px; /* Optionally, decrease the font size for smaller screens */
  }

  .title_onboard {
    font-size: 2em; /* Adjust this value as needed */
  }
}

@media (max-width: 500px) {
  .onBoard {
    padding: 5%;
  }
  .form__group_onboard {
    padding: 20px 0 0;
  }
  .btn-onboard {
    min-width: 130px;
  }
  .form__group_onboard {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {
  .onBoard {
    padding: 2%;
  }
  .form__group_onboard {
    padding: 20px 0 0;
  }
  .btn-onboard {
    min-width: 120px;
  }
}
