.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.logo-container,
.menu-container {
  display: flex;
  align-items: center;
}

.p-hover-color:hover {
  color: #de416c;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1002; /* Increased from 1001 to ensure it's above the menu container */

  position: relative;
  color: aliceblue;
  position: fixed; /* Changed from relative to fixed */
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.menu-container {
  display: none;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu-container.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: slideDown 0.5s ease-in-out forwards; /* Ensure animation completes and holds its last keyframe */
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu-container {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 375px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
