@font-face {
  font-family: "PublicaSansRound-Lt"; /* Name your font */
  src: url("./fonts/PublicaSansRound-Lt.otf") format("opentype"); /* Adjust the path and format */
  font-weight: normal;
  font-style: normal;
}
